/* Fundo com imagens de cartas de tarô */
body {
  background-color: #1a1a1a; /* Cor de fundo escura */
  background-image: url('/public/images/fundo.jpg'); /* URL da imagem de fundo */
  background-size: cover; /* Faz a imagem cobrir todo o corpo */
  background-position: center; /* Centraliza a imagem horizontalmente e verticalmente */
  font-family: 'GothicFont', sans-serif; /* Fonte gótica */
  color: #ffffff; /* Cor do texto branco */
  min-height: 100vh; /* Garante que o fundo ocupe toda a altura da tela */
}

/* Cores temáticas */
.tarot-card {
  background-color: #2a2139; /* Cor de fundo roxa escura para cartas de tarô */
  border: 2px solid #ffffff; /* Borda branca */
  color: #ffffff; /* Cor do texto branco */
  max-width: 200px; /* Largura máxima da carta */
  width: 100%; /* Ajusta a largura conforme o contêiner */
  height: auto; /* Altura ajustável */
}

.tarot-card:hover {
  transform: scale(1.05); /* Efeito de escala ao passar o mouse sobre as cartas */
}

/* Outros estilos */
.button {
  background-color: #7030a0; /* Cor de fundo roxa */
  color: #ffffff; /* Cor do texto branco */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #89409e; /* Cor de fundo roxa mais escura ao passar o mouse */
}

/* Novo estilo para o contêiner da carta de tarô */
.card-container {
  max-width: 200px; /* Define o tamanho máximo da carta */
  margin: 0 auto; /* Centraliza horizontalmente */
}

/* Estilo para a imagem da carta */
.card-container img {
  width: 100%; /* Garante que a imagem preencha o contêiner */
  height: auto; /* Altura ajustável */
}

.top-bar {
  position: fixed; /* Fixa a barra superior no topo */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1a1a1a; /* Cor de fundo escura */
  padding: 10px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tarot-cards {
  margin-top: 60px; /* Ajusta o conteúdo abaixo da barra superior */
  display: flex;
  justify-content: center;
  align-items: center;
}
